@using MVCBlog.Clases;
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Home";
}

@model List<MVCBlog.Models.Post>

<div class="jumbotron" style="text-align:center">
    <h2 >Softuni Blog</h2>
</div>

<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2 class="title"><a href="/Posts/Details/@post.Id">@Utils.CutText(post.Title, 40)</a></h2>
            <div class="about">
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
	            }
            </div>
            <div class="body">@Utils.CutText(Regex.Replace(post.Body, "<.*?>", string.Empty))</div>
        </article>
    }
</section>
