@using Microsoft.AspNet.Identity;
@using System.Text.RegularExpressions;

@model MVCBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

    <h2>Details</h2>

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Author
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author_UserName)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                <textarea disabled="disabled" rows="20" class="form-control">@Regex.Replace(Model.Body, "<.*?>", string.Empty)</textarea>
            </dd>

            <dt>
                Created on:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            @if (Model.EditedDate.ToString() != DateTime.MaxValue.ToString())
            {
                <dt>
                    Edited on:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EditedDate)
                </dd>
            }            
        </dl>
    </div>
    <p>
        @if (User.IsInRole("Administrators") || User.Identity.GetUserId() == Model.Author_Id)
    {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
            @Html.ActionLink("Back to List", "Index")
    }
    else
	{
            @Html.ActionLink("Back to List", "Index")
	}

    </p>
